{% extends 'layout.html' %}

{% block body %}
	<div class ="jumbotron text-center">
		<h1>Welcome To FlaskApp</h1>
	</div>
	
	<h2>HTML Forms</h2>

<form action="/" method="POST">
  <h3>Configuration</h3><br>
  URL:<br>
  <input type="text" name="url" required>
  <br>

  <h3>Simple Auth</h3><br>
  Report Group:<br>
  <input type="text" name="auth_report_group" required>
  <br>
  Order ID:<br>
  <input type="text" name="auth_order_id" required>
  Amount:<br>
    <input type="text" name="amount" required>
  Order Source<br>
    <input type="text" name="order_source" required>
  ID:<br>
    <input type="text" name="auth_id" required>
  <br><br>
  Card Number<br>
    <input type="text" name="card_number" required>
  Expiration Date<br>
    <input type="text" name="exp_date" required>
  Card Type<br>
    <input type="text" name="card_type" required>
  <br>

  <h3>Simple Capture</h3><br>
  Report Group:<br>
  <input type="text" name="capture_report_group" required>
  <br>
  CNP Txn ID:<br>
  <input type="text" name="cnp_txn_id" required>
  Paypal Notes:<br>
    <input type="text" name="paypal_notes" required>
  Order Source<br>
    <input type="text" name="capture_order_source" required>
  Pin:<br>
    <input type="text" name="pin" required>
  ID:<br>
    <input type="text" name="capture_id" required>
  <br>

  <input type="submit" value="submit">
</form> 

{% if capture %}
  <h2>Capture Response</h2>
  {{capture}}
{% endif %}

{% if auth %}
  <h2>Auth Response</h2>
  {{auth}}
{% endif %}

{% endblock %}